<ion-content>
  <ion-card>
    <div class="table-scroll-wrapper">
      <table class="data-table">
        <thead>
          <tr>
            <th>Stock Name</th>
            <th>LTP</th>
            <th>Chg</th>
            <th>Chg%</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let stocks of stockNames"
            routerLinkActive="router-link-active"
            [routerLink]="['details', stocks.SecurityID]"
          >
            <td>
              <div class="stock-info-container">
                <img
                  [src]="stocks.SecurityLogoUrl"
                  [alt]="stocks.Name"
                  class="stockImg"
                />

                <div class="stock-text-group">
                  <span class="main-label">{{ stocks.Name }}</span>
                  <span class="sub-label">{{ stocks.Sector }}</span>
                </div>
              </div>
            </td>
            <td class="col-ltp">{{ stocks.C }}</td>
            <td class="col-chg change-up">{{ stocks.CZ }}</td>
            <td class="col-chg-perc change-down">{{ stocks.CZG }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-card>
</ion-content>
