<ion-content>
  <ion-card>
    <table class="data-table">
      <thead>
        <tr>
          <th>Stock Name</th>
          <th>LTP</th>
          <th>Chg</th>
          <th>Chg%</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <div class="stock-info">
              <ion-label>Tata Investment Corporation Ltd.</ion-label>
              <p class="sub-label">Finance</p>
            </div>
          </td>
          <td>875.00</td>
          <td color="primary">+70.00</td>
          <td color="danger">+8.7%</td>
        </tr>

        <tr>
          <td>
            <div class="stock-info">
              <ion-label>Ather Energy Ltd.</ion-label>
              <p class="sub-label">Automobile & Ancillaries</p>
            </div>
          </td>
          <td>765.85</td>
          <td color="primary">+43.65</td>
          <td color="danger">+6.0%</td>
        </tr>
      </tbody>
    </table>
  </ion-card>
</ion-content>
