<!-- <app-select>
  <app-options [value]="'Angular'"></app-options>
  <app-options [value]="'React'"></app-options>
  <app-options [value]="'Vue'"></app-options>
</app-select> -->

<div class="radio-container">
  <span class="input-options">
    <input type="radio" name="option" id="option1" value="React" #radiobtn1 />
    <label for="option">React</label>
  </span>
  <span class="input-options">
    <input type="radio" name="option" id="option2" value="Angular" />
    <label for="option">Angular</label>
  </span>
  <span>
    <input type="radio" name="option" id="option3" value="Vue" />
    <label for="option">Vue</label>
  </span>
</div>
