<!-- <div class="login-form" [formGroup]="loginForm">
 
  <label for="email">Email</label>
  <input type="email" formControlName="email" />
   @if (loginForm.get("email") && loginForm.get("email")?.hasError("required") && loginForm.get("email")?.touched) {
    <p>Please enter a valid email</p>
  }
  <label for="password">Password</label>
  <input type="password" formControlName="password" />
   @if (loginForm.get("password")  && loginForm.get("password")?.touched) {
    <p>Please enter a valid password</p>
  }
  <button (click)="login()">Login</button>
  <p routerLink="/signup" class="link">Click here to signup</p>
</div> -->

<main>
  <form [formGroup]="loginForm">
    <h1>Login Form</h1>
    <ion-input type="text" label="First Name" label-placement="floating" fill="outline" placeholder="Enter your First Name" formControlName="firstname" />
    @if (this.loginForm.get("firstname")?.hasError("required") && this.loginForm.get("firstname")?.touched) {<p>First name is required</p>}
   <ion-input  type="text" label="Last Name" label-placement="floating" fill="outline" placeholder="Enter your Last Name" formControlName="lastname"></ion-input>
    @if (this.loginForm.get("lastname")?.hasError("required") && this.loginForm.get("lastname")?.touched) {<p>Last name is required</p>}
   <ion-input type="number" label="Phone Number" label-placement="floating" fill="outline" placeholder="Enter your Phone Number" formControlName="phonenumber"></ion-input>
    @if (this.loginForm.get("phonenumber")?.hasError("required") && this.loginForm.get("phonenumber")?.touched) {<p>Phone Number is required</p>} @else if (this.loginForm.get("phonenumber")?.hasError("pattern")) {<p>Phone Number is not valid</p>}
    <ion-input type="email" label="Email" label-placement="floating" fill="outline" placeholder="Enter your Email" formControlName="email"></ion-input>
    @if (this.loginForm.get("email")?.hasError("required") && this.loginForm.get("email")?.touched) {<p>Email is required</p>} @else if (this.loginForm.get("email")?.hasError("pattern")) {<p>Email is not valid</p>}
   <ion-input type="password" label="Password" label-placement="floating" fill="outline" placeholder="Enter your Password" formControlName="password"></ion-input>
    @if (this.loginForm.get("password")?.hasError("required") && this.loginForm.get("password")?.touched) {<p>Password is required</p>} @else if (this.loginForm.get("password")?.hasError("pattern")) {<p>Password is not valid</p>}
   <div class="externalLinks">
  <p routerLink="/signup" class="links">Click here to signup</p>
  <p routerLink="/forgot" class="links">Forgot password?</p>
  </div>
    @if (this.loginForm.valid) {<ion-button (click)="onSubmit()">Submit</ion-button>}@else {<ion-button [disabled]="true">Submit</ion-button>}
  </form>
</main>