<main>
  <ion-content>
    <div>
      <ion-input
        label="Name"
        label-placement="floating"
        fill="outline"
        placeholder="Enter your name"
        [(ngModel)]="input"
      ></ion-input>
      @if (this.myCrudPageService.duplicateValue) {
      <p class="duplicateValueIndicator">
        This name already exist, cannot add it.
      </p>
      }
      <ion-button
        id="open-modal"
        expand="block"
        fill="solid"
        color="primary"
        (click)="onAdd()"
        >{{ editIndex !== null ? "update" : "add" }}</ion-button
      >
    </div>
    <div>
      @for (individualName of nameList; track $index) {
      <div class="items">
        <p>{{ individualName }}</p>
        <div>
          <ion-icon name="create-outline" (click)="onEdit($index)"></ion-icon>
          <ion-icon name="trash-outline" (click)="onDelete($index)"></ion-icon>
        </div>
      </div>
      }
    </div>
  </ion-content>
</main>
