<ion-split-pane when="xs" contentId="main">
  <ion-menu  contentId="main">
      <ion-toolbar class="ion-text-center">
        <ion-title class="sidebar-title">Market</ion-title>
      </ion-toolbar>
    <ion-content class="ion-padding"> 
    <ion-list>
      <ion-item lines="none">Market home</ion-item>
      <ion-item lines="none">Indices</ion-item>
      <ion-item lines="none">Investment cases</ion-item>
      <ion-item lines="none">Trending stocks</ion-item>
      <ion-item lines="none">News and Updates</ion-item>
      <ion-item lines="none">Deals</ion-item>
      <ion-item lines="none">FII / DII Activity</ion-item>
      <ion-item lines="none">Sectors</ion-item>
      <ion-item lines="none">IPOs</ion-item>
      <ion-item lines="none">SME Zone</ion-item>
      <ion-item lines="none">Learn</ion-item>
    </ion-list>  
    </ion-content>
  </ion-menu>